# Игнорирование папок .idea
.idea/
**/.idea/

# Игнорирование папок obj
obj/
**/obj/

# Игнорирование папки bin
bin/
**/bin/

# Игнорирование файлов пользовательских настроек
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорирование временных файлов
*.log
*.tmp

# Игнорирование файлов кэша
*.cache
*.csproj.user
