@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать</h1>
    <h1 class="display-4">в "Успешное поступление"!</h1>
    <p>Это система для формирования, редактирования и отслеживания списков абитуриентов и не только.</p>
</div>