<div class="text-center">
    <h2 class="display-4">Создание предмета</h2>
</div>
@if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
{
    <script>
        alert('@Html.Raw(System.Web.HttpUtility.JavaScriptStringEncode(TempData["ErrorMessage"].ToString()))');
    </script>
}
<form method="post" action="@Url.Action("SubjectCreate", "Home")">
    <div class="row m-3">
        <div class="col-4">Название:</div>
        <div class="col-8"><input type="text" name="name" id="name" /></div>
    </div>
    <div class="row m-3">
        <div class="col-4">Максимум баллов:</div>
        <div class="col-8"><input type="text" name="maxPointsStr" id="maxPointsStr" /></div>
    </div>
    <div class="row m-3">
        <div class="col-8"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btn-primary" /></div>
    </div>
</form>